.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.navigation-menu li {
  margin: 0px 20px;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
}
.active {
  
  color: black !important;
  font-weight: bold !important;
}
/* mobile view */
.mobile-navigation {
  list-style: none;
}
.mobile-navigation li {
  margin-top: 20px;
}
.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.loginpg{
    
  background-color:darkslategrey;
 background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;

}
.signuppg{
  background-color: darkslategrey;
   background-size: cover;
   height: 100%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   
   position: absolute;
}
.box{
   background-color: white;
}
.reservation{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}